---
import type { Temporal } from '@js-temporal/polyfill'

import type { RainyTrain } from '../../service/rainy-trains/type'

import TrainPlanCard from '../train-plan-card/index.astro'
import EmptyList from './empty-list.astro'

import getDateString from './get-date-string'

interface Props {
    date: Temporal.PlainDate
    rainyTrainPlans: RainyTrain[]
}

const { rainyTrainPlans, date } = Astro.props
const dateString = getDateString(date)
---

<li>
    <h2>{dateString}</h2>
    {
        rainyTrainPlans.length === 0 ? (
            <EmptyList />
        ) : (
            <ul>
                {rainyTrainPlans.map((plan) => (
                    <TrainPlanCard plan={plan} />
                ))}
            </ul>
        )
    }
</li>

<style scoped>
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 4rem;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(60rem, 1fr));
    }

    li {
        background: white;
        padding: 8rem;
        gap: 8rem;
        display: flex;
        flex-direction: column;
        border-radius: 6rem;
        margin: 0px;
    }

    h2 {
        font-family: var(--font-pilseung);
        font-weight: unset;
        font-size: 8rem;
        margin: 0px;
    }

    @media (max-width: 900px) {
        h2 {
            /* font-size: 6rem; */
        }
    }
</style>
