---
const now = new Date().toLocaleTimeString('ko-KR', {
    timeZone: 'Asia/Seoul',
    hour12: false,
})
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>비 내리는 호남선</title>
    </head>
    <body>
        {now}
    </body>
</html>
