---
import TrainList from '../components/train-plans-viewer/index.astro'
import Introducing from '../components/introducing/index.astro'
import PlanFilter from '../components/plan-filter/index.astro'
import Ribbon from '../components/ribbon/index.astro'

import { getRainyTrains } from '../service/rainy-trains'

const rainyTrains = await getRainyTrains()
---

<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>비 내리는 호남선</title>
        <link
            href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css"
            rel="stylesheet"
        />
        <meta
            name="description"
            content="비 내리는 호남선 열차 운행 정보를 알아보세요"
        />
    </head>
    <body>
        <div id="left_column">
            <Introducing />
            <PlanFilter />
        </div>
        <TrainList rainyTrains={rainyTrains} />
        <Ribbon />
        <Ribbon />
        <Ribbon />
    </body>
</html>

<style>
    @font-face {
        font-family: 'Pilseung Gothic';
        src:
            url('../assets/font/Pilseung_Gothic.woff2') format('woff2'),
            url('../assets/font/Pilseung_Gothic.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    :root {
        font-size: 3px;
        --font-pilseung: 'Pilseung Gothic', sans-serif;
    }
    body {
        background-color: #cccccc;
        padding: 10rem;
        margin: 0px;
        font-size: 4rem;
        font-family: 'SUIT', sans-serif;
        display: flex;
        justify-content: stretch;
        height: 100vh;
        box-sizing: border-box;
        gap: 15rem;
    }
    #left_column {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        width: 140rem;
    }

    @media (max-width: 900px) {
        body {
            flex-direction: column;
            padding: 5rem;
            font-size: 3rem;
            height: auto;
        }
        #left_column {
            width: 100%;
        }
    }
</style>
