---
import { getRainyTimes, PRINCIPAL_STATIONS } from '../service/rainy-day'

const now = new Date().toLocaleTimeString('ko-KR', {
    timeZone: 'Asia/Seoul',
    hour12: false,
})

const rainyTimes = new Set(
    (
        await Promise.all(Object.values(PRINCIPAL_STATIONS).map(getRainyTimes))
    ).flatMap((rainyTimesByStation) => [...rainyTimesByStation.keys()])
)

console.log(rainyTimes)
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>비 내리는 호남선</title>
    </head>
    <body>
        {now}

        <p>
            {rainyTimes.size}
        </p>
    </body>
</html>
